@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background: url('/bgwall.jpg');
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
}

.Container{
    position : relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 40px;
    margin-top: 20px;
}

.LogIn{
    border: #000 solid 2px;
    border-radius: 15px;
    font-size: 1em;
    font-family: 'ubut', sans-serif;
    padding: 10px;
    margin-left: -10px;
}

.place{
    color: #21ebff;  
}

.heading{
    height: 80px;
    margin-top: 0px;
    width: 80%;
    font-family: VT323, monospace;
    letter-spacing: 2px;
    font-size: 65px;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(10, 10, 10, 0.5);
    margin: 5px;
    margin-bottom: 15px;
}

.box{
    width: 80%;
    background: rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(10, 10, 10, 0.5);
    margin-bottom: 50px;
    padding: 10px;
}


.docs{
    border: #000 solid 2px;
    border-radius: 15px;
    font-size: 1.5em;
    font-family: 'ubut', sans-serif;
    padding: 10px;
    margin-left: -10px;
}

.docs:hover{
    font-size: 1.7em;
    transition: 0.6s;
    border: #000 solid 3px;
    color: #fff;
}

.list{
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: Ubuntu, sans-serif;
    font-size: 1.3em;
    border: #000;
    border-radius: 15px;
    transition: 0s;
    

}

.card{
    max-height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000;
    align-items: center;
    justify-content: center;

}

.card h2{
    font-family: VT323, monospace;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-align: center;
    
}

.card h2 h3{

    font-size: 0.8em;
}

.button{
    height: 38px;
    width: 100px;
    margin-top: 20px;
    background: #21ebff;
    font-family: VT323, monospace;
    font-size: 1.4em;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-bottom: 10px;
}


.Nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 60px;
    background: linear-gradient(90deg ,#171941, #2dfbfd);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 1;
    
}

.head{
    position: relative;
    width: 400px;
    font-weight: 700;
    color: #21ebff;
    text-decoration: none;
    font-size: 2em;
    height: 75px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-bottom: 20px;

   
}

.list1{
    padding-left: 0px;
    font-size: 1.3em;
    border: #000;
    border-radius: 15px;
    transition: 0s;
}

.Nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu, sans-serif;
}

.list2{
    padding-right: 200px;
}

.Nav ul li{
    position: relative;
    list-style: none;
    font-size: 2em;
    display: flex;
    align-items: center;
    font-family: vt323, monospace;
    justify-content: center;
    padding: 10px;
    padding-left: 10px;
}

.progressBar{
    position: relative;
    height: 40px;
    width: 700px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #fff;
}

.progress{
    height: 100%;
    width: 70%;
    background: linear-gradient(90deg ,#000046, #1cb5e0);
    border-radius: 50px;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    padding-left: 30px;
}

.img1{
    height: 32px;
    width: 32px;
}

.Nav ul li a{
    position: relative;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
