@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

.body{

    background: url("/bgwall.jpg");
    min-height: 200vh;
}

.Nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 30px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.head{
    position: relative;
    width: 400px;
    font-weight: 700;
    color: #21ebff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: 0.6s;
    
}

.list1{
    padding-left: 0px;
    font-size: 1.3em;
    border: #000;
    border-radius: 15px;
    transition: 0s;
}

.Nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu, sans-serif;
}

.list2{
    padding-right: 200px;
}

.Nav ul li{
    position: relative;
    list-style: none;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Nav ul li:hover{
    font-size: 1.5em;
}

.img1{
    height: 32px;
    width: 32px;
}

.Nav ul li a{
    position: relative;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    border-bottom: 20px solid #21ebff;
    right: 440px;
    top: 64px;
}

.arrow2{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    border-bottom: 20px solid #21ebff;
    right: 280px;
    top: 64px;
}

.form{
    position: absolute;
    height: auto;
    width: 300px;
    background : #fff;
    right: 305px;
    top: 84px;
    border-radius : 3px;
    border: 5px solid #21ebff;
}

.form2{
    position: absolute;
    height: auto;
    width: 300px;
    background : #fff;
    right: 140px;
    top: 84px;
    border-radius : 3px;
    border: 5px solid #21ebff;
}

.form form{
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif,Ubuntu;
    color: #000;
    letter-spacing: 0.03em;
    margin: 25px;
}

.form2 form{
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif,Ubuntu;
    color: #000;
    letter-spacing: 0.03em;
    margin: 25px;
}

.input{
    width: 240px;
    color: #000;
    height: 35px;
    background: #fff;
    border: 0px;
    outline: none;
    box-shadow: inset 0 0 8px #000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 8px;

}

.input2{
    width: 240px;
    color: #000;
    height: 35px;
    background: #fff;
    border: 0px;
    outline: none;
    box-shadow: inset 0 0 8px #000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 8px;

}

.submit{
    width: 95%;
    height: 35px;
    background: #21ebff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif, Ubuntu;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.05px;
}

.submit2{
    width: 95%;
    height: 35px;
    background: #21ebff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif, Ubuntu;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.05px;
    margin-top: 20px;
}

.submit:hover{
    background: #21ebff;
    color: #fff;
    box-shadow: 0 0 7px #21ebff;
    transition-delay: 0s;
    font-size: 22px;
    
}

.submit2:hover{
    background: #21ebff;
    color: #fff;
    box-shadow: 0 0 7px #21ebff;
    transition-delay: 0s;
    font-size: 22px;
}

.lostpass{
    text-decoration: none;
    position: relative;
    margin-top: 0px;
    color: gray;
    padding-top: 10px;
    font-size: 16px;
}





