@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');


.wrapper {
    
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  position: absolute;
  width: 100vw;
  top: 430px;
}

/* //#6225E6; */

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #21ebff;    
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
  
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.cta span {
    transform: skewX(15deg) 
  }

.cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.body{
    background: url("/Gif1.gif");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: absolute;
    background-position: center;
}

.Nav{
    position: relative;
    top: -20px;
    left: 0;
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    filter: opacity(109%);
    padding: 10px 30px;
    background: rgba(0,0,0,.7);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.head{
    position: relative;
    width: 400px;
    font-weight: 700;
    color: #21ebff;
    text-decoration: none;
    font-size: 2em;
    height: 75px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: 0.6s;
}

.list1{
    padding-left: 0px;
    font-size: 1.3em;
    border: #000;
    border-radius: 15px;
    transition: 0s;
}

.Nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu, sans-serif;
}

.list2{
    padding-right: 200px;
}

.Nav ul li{
    position: relative;
    list-style: none;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.Nav ul li:hover{
    font-size: 1.5em;
}

.img1{
    height: 32px;
    width: 32px;
}

.Nav ul li a{
    position: relative;
    margin: 0 8px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    border-bottom: 20px solid #21ebff;
    right: 440px;
    top: 64px;
}

.arrow2{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    border-bottom: 20px solid #21ebff;
    right: 280px;
    top: 64px;
}

.form{
    position: absolute;
    height: auto;
    width: 300px;
    background : #fff;
    right: 305px;
    top: 84px;
    border-radius : 3px;
    border: 5px solid #21ebff;
}

.form2{
    position: absolute;
    height: auto;
    width: 300px;
    background : #fff;
    right: 140px;
    top: 84px;
    border-radius : 3px;
    border: 5px solid #21ebff;
}

.form form{
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif,Ubuntu;
    color: #000;
    letter-spacing: 0.03em;
    margin: 25px;
}

.form2 form{
    width: 250px;
    margin: 0 auto;
    font-size: 16px;
    font-family: sans-serif,Ubuntu;
    color: #000;
    letter-spacing: 0.03em;
    margin: 25px;
}

.input{
    width: 240px;
    color: #000;
    height: 35px;
    background: #fff;
    border: 0px;
    outline: none;
    box-shadow: inset 0 0 8px #000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 8px;

}

.input2{
    width: 240px;
    color: #000;
    height: 35px;
    background: #fff;
    border: 0px;
    outline: none;
    box-shadow: inset 0 0 8px #000;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 16px;
    padding-left: 8px;

}

.submit{
    width: 95%;
    height: 35px;
    background: #21ebff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif, Ubuntu;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.05px;
}

.submit2{
    width: 95%;
    height: 35px;
    background: #21ebff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif, Ubuntu;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.05px;
    margin-top: 20px;
}

.submit:hover{
    background: #21ebff;
    color: #fff;
    box-shadow: 0 0 7px #21ebff;
    transition-delay: 0s;
    font-size: 22px;
    
}

.submit2:hover{
    background: #21ebff;
    color: #fff;
    box-shadow: 0 0 7px #21ebff;
    transition-delay: 0s;
    font-size: 22px;
}

.lostpass{
    text-decoration: none;
    position: relative;
    margin-top: 0px;
    color: gray;
    padding-top: 10px;
    font-size: 16px;
}





