.main{
    height: 100vh;
    width: 100vw;
    background: #fff;

}

.Nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 10px 60px;
    background: linear-gradient(90deg ,#171941, #2dfbfd);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 1;    
}


.head{
    position: relative;
    width: 400px;
    font-weight: 700;
    color: #21ebff;
    text-decoration: none;
    font-size: 2em;
    height: 75px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    transition: 0.6s;
    margin-bottom: 20px;   
}


.xpName img{
    width: 32px;
    height: 32px;
    margin-left: 2;
}

.list1{
    padding-left: 0px;
    font-size: 1.3em;
    border: #000;
    border-radius: 15px;
    transition: 0s;
}


.Nav ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Ubuntu, sans-serif;
}

.list2{
    padding-right: 200px;
}

.Nav ul li{
    position: relative;
    list-style: none;
    font-size: 2em;
    display: flex;
    align-items: center;
    font-family: vt323, monospace;
    justify-content: center;
    padding: 10px;
    padding-left: 10px;
}

.body1{
    margin-top: 95px;
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar{
    background: #fff;
    height: 100%;
    width: 5%;
    border-right: 1px solid grey;   
}

.sidebar1{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.sidebar1 img{
    width: 40px;
    height: 40px;
    margin: 15px;
}

.sidebar2{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 500px;
    
}

.sidebar2 img{
    width: 40px;
    height: 40px;
    margin: 15px;
}